@model websiteSach.Models.LoaiSp

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Xóa loại sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tên Loại:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenloaisp)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Listloaihanghoa", "Admin")
        </div>
    }
</div>
